.scatterplot-container {
    width:50%;
}

#map {
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: -1;
}

#map-container {
    position: relative;
    overflow: hidden;
}


/* fonts */
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Georgia, Times New Roman, serif;
}